<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
        	table{font-family:Arial,Helvetica,verdana,sans-serif;padding:0;margin:0;font-size:9px;}
            tr, td{padding:0;margin:0;border:0;}
        </style>
    </head>
    <body>
    	<!-- 
	    <table border="0" cellspacing="0" cellpadding="0" style='margin:20px;border:1px solid #000;text-align:center;width:109px;height:530px;'>
	    	<tr><td style='border-bottom:1px dashed #000'>xxx</td></tr>
	    	<tr><td style='height:480px;'>
	    		<table width=109px height=480px border=0 cellspacing=0 cellpadding=0 style='background:yellow'>
	    			<tr><td valign=top>Orchestra Kazibao France</td></tr>
	    		</table>
	    	</td></tr>
	    	<tr><td style='height:24px;border-top:1px dashed #000'>xxx</td></tr>
	    </table>
	     -->
	    ORC LABEL<br/>
		SIZE: 30mm X 150mm
	    <table width=126px height=629px border="0" cellspacing="0" cellpadding="0" style='text-align:center;margin:20px;border:1px solid #00ADEE;'>
	    	<tr><td height=30px style='color:#00ADEE;border-bottom:1px dashed #00ADEE'>7.5mm sew</td></tr>
	    	<tr><td>
	    		<table width=114px height=565px border=0 cellspacing=0 cellpadding=0 style='word-wrap:break-word;text-align:center;margin:3px 5px;padding:0;line-height:10px'>
	    			<tr><td valign=top style='height:15px;'>Orchestra Kazibao France</td></tr>
	    			<tr><td valign=top height=11px>款号: %(sku)s</td></tr>
	    			<tr><td valign=top height=11px>年龄/身高: %(age_and_stature)s</td></tr>
	    			<tr><td valign=top height=15px>规格: %(stature_and_width)s</td></tr>
	    			<tr><td valign=top>%(product_family)s</td></tr>
	    			<tr><td valign=top><br/>%(origin)s</td></tr>
	    			<tr><td valign=top>%(ca_no)s</td></tr>
	    			<tr><td valign=top style="word-wrap:break-word" width=114px><br/>%(compositions)s</td></tr>
	    			<tr><td valign=top style='color:red;font-weight:bold;font-size:8px;'>TENIR ELOIGNE DU FEU /<br/> KEEP AWAY FROM FIRE</td></tr>
	    			<tr><td valign=top><br/>%(care_imgs)s</td></tr>
	    			<tr><td style='margin:3px 0;'>&reg;&nbsp;&nbsp;C1416</td></tr>
	    			<tr><td valign=top><br/>%(cares)s</td></tr>
	    			<tr><td valign=bottom style='font-size:8px;'>Service consommateurs<br/> ORCHESTRA<br/> 400 Avenue Marcel Dassault<br/> 34170 Castelnau le Lez<br/> shop.orchestra.fr</td></tr>
	    		</table>
	    	</td></tr>
	    	<tr><td height=30px style='color:#00ADEE;border-top:1px dashed #00ADEE'>7.5mm sew</td></tr>
	    </table>
    </body>
</html>
