<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<style type="text/css">
	body,table,p{
		font-family : Verdana,Arial,Helvetica,sans-serif;
		font-size : 12px;
	}
</style>
</head>
<body>
<p>Dear Prepress Team</p>
<p>A new / revised request was made.</p>
<table>
<tr><td style="width:200px">Job No.:</td><td>%s</td></tr>
<tr><td>Requested Team:</td><td>%s</td></tr>
<tr><td>Requested Created By:</td><td>%s</td></tr>
<tr><td>Last Updated By:</td><td>%s</td></tr>
<tr><td>Vendor/Customer:</td><td>%s</td></tr>
<tr><td>Brand:</td><td>%s</td></tr>
<tr><td>Item Code.:</td><td>%s</td></tr>
<tr><td>Item Desc:</td><td>%s</td></tr>
<tr><td>Job Nature:</td><td>%s</td></tr>
</table>
<br />
<a href="%s">%s</a>
<br />
<p>Many thanks</p>
<p>Best Regards,</p>
<p>Prepress System</p>
</body>
</html>